{% extends 'base.html' %}

{% block content %}
<!--import datatable-->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/dataTables.uikit.min.css" />

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/js/dataTables.uikit.min.js" />
<script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
{% csrf_token %}
<section class="shoping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Mis Compras</h2>
                    
                </div>
                <div class="shoping__cart__table">
                    <table id="mytable">
                        <thead>
                            <tr>
                                <th style="display: none;">N° Compra</th>
                                <th>Fecha</th>
                                <th>Direccion entrega</th>
                                <th>Monto total</th>
                                <th>Estado</th>
                                <th>Usuario</th>
                                <th>Ver</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for compra in compras %}
                            <tr>
                                <td style="display: none;">
                                    {{compra.id}}
                                </td>
                                <td class="">
                                    {{compra.fecha}}
                                </td>
                                <td class="">
                                    {{compra.direccion}}
                                </td>

                                <td class="">
                                    ${{compra.monto}}
                                </td>
                              
                                <td class="">
                                    <!--color random-->
                                    {% if compra.estado.id == 1 or compra.estado.id == 2 %}
                                    <span class="badge badge-warning">{{compra.estado}}</span>
                                    {% elif compra.estado.id == 3 %}
                                    <span class="badge badge-info">{{compra.estado}}</span>
                                    {% elif compra.estado.id == 4 %}
                                    <span class="badge badge-success">{{compra.estado}}</span>
                                    {% endif %}

                                </td>
                                <td class="">
                                    {{compra.usuario}}
                                </td>
                                <td class="">
                                    <a href="productoCompraAdmin?idCompra={{compra.id}}"><button
                                            class="btn btn-primary">Ver detalle</button>
                                        </a>
                                    </td>
                                
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</section>
</form>





<style>
    .pago {
        width: 255px;
        height: 46px;
        border: 1px solid #cccccc;
        font-size: 16px;
        color: #b2b2b2;
        text-align: center;
        display: inline-block;
        margin-right: 15px;
    }
</style>
<script>
    $(document).ready(function () {
        $('#mytable').DataTable(
            {
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                },
                "order": [
                    [0, "desc"]
                ],
                "lengthMenu": [
                    [5, 10, 15, -1],
                    [5, 10, 15, "Todos"]
                ],
                "pageLength": 5,
                "paging": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,

                


            }

        );
    });
</script>
{% endblock %}